{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8">

  <!-- Page Title -->
  <title>پوریا شیرالی پور</title>


  <!-- Meta Tags -->
  <meta name="description"
        content="Show yourself brightly with Braxton - unique and creative portfolio and resume template!">
  <meta name="keywords"
        content="mix_design, resume, portfolio, personal page, cv, template, one page, responsive, html5, css3, creative, clean">
  <meta name="author" content="mix_design">

  <!-- Viewport Meta-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Template Favicon & Icons Start -->
  <link rel="icon" href="{% static "portfolio/img/favicon/logo.png" %}" sizes="any">
  <link rel="icon" href="{% static "portfolio/img/favicon/logo.png" %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static "portfolio/img/logo.png" %}">
  <link rel="manifest" href="{% static "portfolio/img/favicon/manifest.webmanifest" %}">
  <!-- Template Favicon & Icons End -->

  <!-- Facebook Metadata Start -->
  <meta property="og:image:height" content="1200">
  <meta property="og:image:width" content="1200">
  <meta property="og:title" content="Portfolio">
  <meta property="og:description"
        content="Show yourself brightly with Braxton - unique and creative portfolio and resume template!">
  <meta property="og:url" content="https://mixdesign.club/themeforest/braxton">
  <meta property="og:image" content="https://mixdesign.club/themeforest/braxton/img/favicon/og-image.jpg">
  <!-- Facebook Metadata End -->

  <!-- Template Styles Start -->
  <link rel="stylesheet" href="{% static "portfolio/css/loaders/loader.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/plugins.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/main.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "portfolio/css/font.css" %}">
  <!-- Template Styles End -->

  <!-- Custom Browser Color Start -->
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#dcdce7">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111">
  <meta name="msapplication-navbutton-color" content="#111111">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Custom Browser Color End -->
</head>

<body>

<!-- Loader Start -->
    <div id="loader" class="loader">
      <div id="loaderContent" class="loader__content">
        <div class="loader__shadow"></div>
        <div class="loader__box"></div>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->
    <header id="header" class="header d-flex justify-content-between">

      <!-- Navigation Menu Start -->
      <div class="header__navigation">
        <nav id="menu" class="menu">
          <ul class="menu__list d-flex justify-content-start">
            <li class="menu__item">
              <a class="menu__link btn" href="#home">
                <span class="menu__caption">خانه</span>
                <i class="ph-bold ph-house-simple"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#portfolio">
                <span class="menu__caption">نمونه کارها</span>
                <i class="ph-bold ph-squares-four"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#about">
                <span class="menu__caption">درباره من</span>
                <i class="ph-bold ph-user"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#resume">
                <span class="menu__caption">رزومه</span>
                <i class="ph-bold ph-article"></i>
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link btn" href="#contact">
                <span class="menu__caption">تماس با من</span>
                <i class="ph-bold ph-envelope"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Navigation Menu End -->


      <!-- Header Controls Start -->
      <div class="header__controls d-flex justify-content-end">
        <button id="color-switcher" class="color-switcher header__switcher btn" type="button" role="switch"
                aria-label="light/dark mode" aria-checked="true"></button>
        <a id="notify-trigger" class="header__trigger btn"
           href="mailto:example@example.com?subject=Message%20from%20your%20site">
          <span class="trigger__caption">ارتباط با من</span>
          <i class="ph-bold ph-chat-dots"></i>
        </a>
      </div>
      <!-- Header Controls End -->

    </header>
    <!-- Header End -->

    <!-- Image Background Layer Start -->
    <div id="imageBackground" class="image-background" data-speed="0.4"></div>
    <!-- Image Background Layer End -->

    <!-- Avatar Side Block Start -->
    <div id="avatar" class="avatar">
      <div class="avatar__container d-flex flex-column justify-content-lg-between">
        <!-- image and logo -->
        <div class="avatar__block">
          <div class="avatar__logo d-flex gap-4 align-items-center">
            <div class="logo__image">
              <!-- Your Logo Here!!! -->
              <img src="{% static "portfolio/img/favicon/logo.png" %}">
            </div>
            <div class="logo__caption">
              <p>پوریا<br>شیرالی پور</p>
            </div>
          </div>
          <div class="avatar__image">
            <img src="{% static "portfolio/img/avatars/avatar.jpg" %}"
                 alt="Pouria Shirali">
          </div>
        </div>
        <!-- data caption #1 -->
        <div class="avatar__block">
          <h6>
            <small class="top">علاقه:</small>
            توسعه دهنده backend
          </h6>
        </div>
        <!-- data caption #2 -->
        <div class="avatar__block mt-2">
          <h6>
            <small class="top"> شهر من:</small>
            اهواز
          </h6>
        </div>
        <!-- socials and CTA button -->
        <div class="avatar__block mt-2">
          <div class="avatar__socials">
            <ul class="socials-square d-flex justify-content-between">
              <li class="socials-square__item">
                <a class="socials-square__link btn" href="https://dribbble.com/" target="_blank"><i
                        class="ph-bold ph-dribbble-logo"></i></a>
              </li>
              <li class="socials-square__item">
                <a class="socials-square__link btn" href="https://www.behance.net/" target="_blank"><i
                        class="ph-bold ph-behance-logo"></i></a>
              </li>
              <li class="socials-square__item">
                <a class="socials-square__link btn" href="https://www.instagram.com/" target="_blank"><i
                        class="ph-bold ph-instagram-logo"></i></a>
              </li>
              <li class="socials-square__item">
                <a class="socials-square__link btn" href="https://www.twitch.tv/" target="_blank"><i
                        class="ph-bold ph-twitch-logo"></i></a>
              </li>
              <li class="socials-square__item">
                <a class="socials-square__link btn" href="https://www.pinterest.com/" target="_blank"><i
                        class="ph-bold ph-pinterest-logo"></i></a>
              </li>
            </ul>
          </div>
          <div class="avatar__btnholder">
            <a class="btn btn-default btn-fullwidth btn-hover btn-hover-accent mt-3" href="#contact" target="_blank">
              <span class="btn-caption">همکاری کنید!</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Avatar Side Block End -->


    <!-- Page Content Start -->
    <div id="content" class="content">
      <div class="content__wrapper">


        <!-- Intro Section Start -->
        <section id="home" class="main intro">

          <!-- شروع عنوان -->
          <div id="headline" class="headline d-flex align-items-start flex-column" data-speed="1">
            <p class="headline__subtitle animate-headline">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px"
                   viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
        C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
        C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
              </svg>
              <span>بیا با هم آشنا شیم!</span>
            </p>
            <h1 class="headline__title animate-headline">من پوریام<br>طراح سایت و توسعه دهنده بک اند</h1>
            <div class="headline__btnholder d-flex flex-column flex-sm-row">
              <a class="btn mobile-vertical btn-default btn-hover btn-hover-accent-mobile animate-headline"
                 href="#portfolio">
                <span class="btn-caption">آثار من</span>
                <i class="ph-bold ph-squares-four"></i>
              </a>
              <a class="btn mobile-vertical btn-default btn-hover btn-hover-outline-mobile animate-headline"
                 href="#0">
                <span class="btn-caption">دانلود رزومه</span>
                <i class="ph-bold ph-download-simple"></i>
              </a>
            </div>
          </div>
          <!-- پایان عنوان -->


          <!-- Scroll Button Start -->
          <div class="rotating-btn">
            <a href="#portfolio" class="rotating-btn__link slide-down">
              <!-- متن چرخان SVG -->
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                   x="0px" y="0px"
                   viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;" xml:space="preserve"
                   class="animate-rotation" data-value="360">
                <defs>
                  <path id="textPath"
                        d="M110,59.5c0,27.6-22.4,50-50,50s-50-22.4-50-50s22.4-50,50-50S110,31.9,110,59.5z"/>
                </defs>
                <g>
                  <use xlink:href="#textPath" fill="none"></use>
                  <text>
                    <!-- متن دکمه اینجا!!! -->
                    <textPath xlink:href="#textPath">بیشتر ببینید * بیشتر ببینید  * بیشتر ببینید * بیشتر ببینید *</textPath>
                  </text>
                </g>
              </svg>
              <!-- آیکون فلش -->
              <i class="ph-bold ph-arrow-down"></i>
            </a>
          </div>

          <!-- Scroll Button End -->

        </section>
        <!-- Intro Section End -->

        <!-- Portfolio Section Start -->
        <section id="portfolio" class="inner inner-first portfolio">

          <!-- بلوک محتوا - عنوان H2 شروع -->
          <div class="content__block section-grid-title">
            <p class="h2__subtitle animate-in-up">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px"
                   viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
              </svg>
              <span>نمونه کارها</span>
            </p>
            <h2 class="h2__title animate-in-up">نمایش پروژه‌های ویژه‌ام</h2>
          </div>
          <!-- بلوک محتوا - عنوان H2 پایان -->

          <!-- بلوک محتوا - گالری اعمال شروع -->
          <div class="content__block grid-block">
            <div class="container-fluid px-0 inner__gallery">
              <div class="row gx-0 my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                <!-- آیتم تک گالری کارها شروع -->
                <figure class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                  <a href="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w01.webp"
                     data-image="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w01.webp" class="gallery__link"
                     itemprop="contentUrl" data-size="1400x1400">
                    <img src="https://picsum.photos/800/800" class="gallery__image"
                         itemprop="thumbnail" alt="توضیحات تصویر">
                  </a>
                  <figcaption class="gallery__descr" itemprop="caption description">
                    <h5>خانه ایزومتریک</h5>
                    <div class="card__tags d-flex flex-wrap">
                      <span class="rounded-tag opposite">نقاشی‌ها</span>
                      <span class="rounded-tag opposite">رندر ۳D</span>
                    </div>
                    <p class="small">موریس پورتیتور لوبرتیس لیگولا، کویس مولستیه لورم اسکلریسکو او. موربی
                      الیکوام انیم ادیپیسینگ اودیو.
                    </p>
                  </figcaption>
                </figure>
                <!-- آیتم تک گالری کارها پایان -->

                <!-- آیتم تک گالری کارها شروع -->
                <figure class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                  <a href="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w02.webp"
                     data-image="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w02.webp" class="gallery__link"
                     itemprop="contentUrl" data-size="1400x1400">
                    <img src="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w02.webp" class="gallery__image"
                         itemprop="thumbnail" alt="توضیحات تصویر">
                  </a>
                  <figcaption class="gallery__descr opposite" itemprop="caption description">
                    <h5 class="opposite">قالب داشبورد</h5>
                    <div class="card__tags d-flex flex-wrap">
                      <span class="rounded-tag">طراحی رابط کاربری</span>
                      <span class="rounded-tag">فیگما</span>
                    </div>
                    <p class="small">موریس پورتیتور لوبرتیس لیگولا، کویس مولستیه لورم اسکلریسکو او. موربی
                      الیکوام انیم ادیپیسینگ اودیو،
                      ا مولیس ایپسوم تریستیکو او.
                    </p>
                  </figcaption>
                </figure>
                <!-- آیتم تک گالری کارها پایان -->

                <!-- آیتم تک گالری کارها شروع -->
                <figure class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                  <a href="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w04.webp"
                     data-image="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w04.webp" class="gallery__link"
                     itemprop="contentUrl" data-size="1400x1400">
                    <img src="https://mixdesign.club/themeforest/braxton/img/works/1400x1400_w04.webp" class="gallery__image"
                         itemprop="thumbnail" alt="توضیحات تصویر">
                  </a>
                  <figcaption class="gallery__descr opposite" itemprop="caption description">
                    <h5 class="opposite">آیکون اعلان</h5>
                    <div class="card__tags d-flex flex-wrap">
                      <span class="rounded-tag">نقاشی‌ها</span>
                      <span class="rounded-tag">رندر ۳D</span>
                    </div>
                    <p class="small">موریس پورتیتور لوبرتیس لیگولا، کویس مولستیه لورم اسکلریسکو او. موربی
                      الیکوام انیم ادیپیسینگ اودیو،
                      ا مولیس ایپسوم تریستیکو او.
                    </p>
                  </figcaption>
                </figure>
                <!-- آیتم تک گالری کارها پایان -->

                <!-- آیتم تک گالری کارها شروع -->
                <figure class="col-12 col-md-6 gallery__item grid-item animate-card-2"
                        itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                  <a href="https://mixdesign.club/themeforest/braxton/img/works/800_w03-thumb.webp"
                     data-image="https://mixdesign.club/themeforest/braxton/img/works/800_w03-thumb.webp" class="gallery__link"
                     itemprop="contentUrl" data-size="1400x1400">
                    <img src="https://mixdesign.club/themeforest/braxton/img/works/800_w03-thumb.webp" class="gallery__image"
                         itemprop="thumbnail" alt="توضیحات تصویر">
                  </a>
                  <figcaption class="gallery__descr " itemprop="caption description">
                    <h5>پنگوئن هوشمند</h5>
                    <div class="card__tags d-flex flex-wrap">
                      <span class="rounded-tag opposite">نقاشی‌ها</span>
                      <span class="rounded-tag opposite">آزمایش هوش مصنوعی</span>
                    </div>
                    <p class="small">موریس پورتیتور لوبرتیس لیگولا، کویس مولستیه لورم اسکلریسکو او. موربی
                      الیکوام انیم ادیپیسینگ اودیو،
                      ا مولیس ایپسوم تریستیکو او.
                    </p>
                  </figcaption>
                </figure>
                <!-- آیتم تک گالری کارها پایان -->

              </div>
            </div>
          </div>
          <!-- بلوک محتوا - گالری اعمال پایان -->

        </section>

        <!-- Portfolio Section End -->

        <!-- About Section Start -->
        <section id="about" class="inner about">

          <!-- بلوک محتوا - عنوان H2 شروع -->
          <div class="content__block section-grid-title">
            <p class="h2__subtitle animate-in-up">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px"
                   viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
              </svg>
              <span>درباره من</span>
            </p>
            <h2 class="h2__title animate-in-up">تبدیل مسائل پیچیده به طراحی‌های ساده</h2>
          </div>
          <!-- بلوک محتوا - عنوان H2 پایان -->

          <!-- بلوک محتوا - دستاوردها شروع -->
          <div class="content__block grid-block">
            <div class="achievements d-flex flex-column flex-md-row align-items-md-stretch">
              <!-- آیتم تک دستاورد -->
              <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                <div class="achievements__card">
                  <p class="achievements__number">40+</p>
                  <p class="achievements__descr">مشتری خوشحال</p>
                </div>
              </div>
              <!-- آیتم تک دستاورد -->
              <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                <div class="achievements__card">
                  <p class="achievements__number">2+</p>
                  <p class="achievements__descr">سال‌های تجربه</p>
                </div>
              </div>
              <!-- آیتم تک دستاورد -->
              <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                <div class="achievements__card">
                  <p class="achievements__number">50+</p>
                  <p class="achievements__descr">پروژه انجام شده</p>
                </div>
              </div>
            </div>
          </div>
          <!-- بلوک محتوا - دستاوردها پایان -->

          <!-- بلوک محتوا - داده‌های درباره من شروع -->
          <div class="content__block grid-block block-large">
            <div class="container-fluid p-0">
              <div class="row g-0 justify-content-between">

                <!-- توضیحات درباره من شروع -->
                <div class="col-12 col-xl-8 grid-item about-descr">
                  <p class="about-descr__text animate-in-up">
                    <a href="" class="text-link">من کی هستم؟ </a>
                  </p>
                  <p class="about-descr__text animate-in-up">
                    سلام من پوریا هستم و در حوزه های طراحی سایت و موبایل فعالیت می کنم . تخصص من در زمینه های پایتون , جنگو و فلاتر است و همچنین توانایی کار با css و html و JS را نیز دارم . علاوه بر برنامه نویسی در حال تحصیل در رشته ی مهندسی عمران هستم .
                  </p>
                  <p class="about-descr__text animate-in-up">
                    با سابقه ی ۳ سال کار در این حوزه به دنبال بهتر شدن مهارت های خودم هستم و اینکه به عنوان یک برنامه نویس خوب در این صنعت شناخته شوم .
                  </p>
                  <div class="btn-group about-descr__btnholder animate-in-up">
                    <a class="btn mobile-vertical btn-default btn-hover btn-hover-accent" href="#0">
                      <span class="btn-caption">دانلود رزومه</span>
                      <i class="ph-bold ph-download-simple"></i>
                    </a>
                  </div>
                </div>
                <!-- توضیحات درباره من پایان -->

                <!-- اطلاعات درباره من شروع -->
                <div class="col-12 col-xl-4 grid-item about-info">
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">نام</small>
                      پوریا شیرالی پور
                    </h6>
                  </div>
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">تلفن</small>
                      <a class="text-link-bold" href="tel:+12127089400">09160253022</a>
                    </h6>
                  </div>
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">ایمیل</small>
                      <a class="text-link-bold"
                         href="mailto:example@example.com?subject=Message%20from%20your%20site">impoush@gmail.com</a>
                    </h6>
                  </div>
                  <div class="about-info__item animate-in-up">
                    <h6>
                      <small class="top">مکان</small>
                      <a class="text-link-bold" href="https://maps.app.goo.gl/xMJXTEUeHkv6kYRQ6"
                         target="_blank">اهواز، خوزستان</a>
                    </h6>
                  </div>
                </div>
                <!-- اطلاعات درباره من پایان -->

              </div>
            </div>
          </div>
          <!-- بلوک محتوا - داده‌های درباره من پایان -->

          <!-- بلوک محتوا - خدمات شروع -->
          <div class="content__block grid-block">
            <div class="container-fluid p-0">
              <div class="row g-0 align-items-stretch cards">
                <!-- آیتم‌های کارت خدمات شروع -->
                <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                  <div class="cards__card d-flex flex-column">
                    <div class="cards__descr">
                      <h4 class="cards__title animate-in-up">توسعه فرانت اند</h4>
                      <div class="cards__tags d-flex flex-wrap animate-in-up">
                        <span class="rounded-tag tag-outline">طراحی UI/UX</span>
                        <span class="rounded-tag tag-outline">طراحی به کد</span>
                      </div>
                      <p class="small cards__text animate-in-up">من با HTML/CSS، Framer و وردپرس کار
                        می‌کنم.</p>
                    </div>
                    <div class="cards__image d-flex animate-in-up">
                      <img src="https://picsum.photos/1200/900" alt="تصویر خدمت/ویژگی">
                    </div>
                  </div>
                </div>
                <!-- آیتم کارت خدمات شروع -->
                <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                  <div class="cards__card d-flex flex-column">
                    <div class="cards__descr">
                      <h4 class="cards__title animate-in-up">هنر دیجیتال و طراحی گرافیکی</h4>
                      <div class="cards__tags d-flex flex-wrap animate-in-up">
                        <span class="rounded-tag tag-outline">نقاشی‌ها</span>
                        <span class="rounded-tag tag-outline">آزمایش هوش مصنوعی</span>
                      </div>
                      <p class="small cards__text animate-in-up">از Adobe Photoshop، Fresco و Blender برای
                        ایجاد نقاشی‌ها و رندرهای سه‌بعدی برای مشتریانم و مخازن استفاده می‌کنم.</p>
                    </div>
                    <div class="cards__image d-flex animate-in-up">
                      <img src="https://picsum.photos/1200/900" alt="تصویر خدمت/ویژگی">
                    </div>
                  </div>
                </div>
                <!-- آیتم کارت خدمات شروع -->
                <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                  <div class="cards__card d-flex flex-column">
                    <div class="cards__descr">
                      <h4 class="cards__title animate-in-up">راهکارهای بازاریابی دیجیتال و SEO</h4>
                      <div class="cards__tags d-flex flex-wrap animate-in-up">
                        <span class="rounded-tag tag-outline">رسانه‌های اجتماعی</span>
                        <span class="rounded-tag tag-outline">تجزیه و تحلیل</span>
                      </div>
                      <p class="small cards__text animate-in-up">برنامه‌های محتوای رسانه‌ای، نظارت رسانه،
                        ایمیل و پیامک و بهینه‌سازی موتور جستجو.</p>
                    </div>
                    <div class="cards__image d-flex">
                      <img src="https://picsum.photos/1200/900" alt="تصویر خدمت/ویژگی">
                    </div>
                  </div>
                </div>
                <!-- آیتم کارت خدمات شروع -->
                <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                  <div class="cards__card d-flex flex-column">
                    <div class="cards__descr">
                      <h4 class="cards__title animate-in-up">هویت برند</h4>
                      <div class="cards__tags d-flex flex-wrap animate-in-up">
                        <span class="rounded-tag tag-outline">طراحی لوگو</span>
                        <span class="rounded-tag tag-outline">راهنمای استایل</span>
                      </div>
                      <p class="small cards__text animate-in-up">به مشتریانم کمک می‌کنم تا شخصیت و صدای
                        برند خود را توسعه دهند، طراحی نمای برند و لوگو.</p>
                    </div>
                    <div class="cards__image d-flex animate-in-up">
                      <img src="https://picsum.photos/1200/900" alt="تصویر خدمت/ویژگی">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- بلوک محتوا - خدمات پایان -->

        </section>

        <!-- About Section End -->

        <!-- Resume Section Start -->
        <section id="resume" class="inner resume">

          <!-- Content Block - H2 Section Title Start -->
          <div class="content__block block-large">
            <p class="h2__subtitle animate-in-up">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px"
                   viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
          C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
          C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
              </svg>
              <span>رزومه</span>
            </p>
            <h2 class="h2__title animate-in-up">آموزش و تجربه عملی</h2>
            <p class="h2__text animate-in-up">
              "برای آنچه که می‌خواهید به نظر برسید، باید آن باشید" - یا اگر دوست دارید ساده‌تر بگویم - هرگز به
              خودتان تصور نکنید که نباید به غیر از آنچه که به نظر دیگران می‌آید شما بودید یا ممکن بودید که نباید
              به نظر آنها به چیزی که شما بودید یا
              <a href="#0" class="text-link">ممکن بود تا</a>
              اگر وجود داشت که به غیر از آنچه که آنها به نظر می‌رسید به نظر می‌رسد.
            </p>
          </div>
          <!-- Content Block - H2 Section Title End -->

          <!-- Content Block - Education Start -->
          <div class="content__block block-large">

            <!-- H3 Block Start -->
            <div class="section-h3">
              <h3 class="h3__title animate-in-up">آموزش من</h3>
            </div>
            <!-- H3 Block End -->

            <!-- Education Lines Start -->
            <div class="container-fluid p-0 resume-lines">
              <!-- education single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-2">
                  <span class="resume-lines__date animate-in-up">1394 - 1395</span>
                </div>
                <div class="col-12 col-md-5">
                  <h5 class="resume-lines__title animate-in-up">تمرکز بر نقاشی</h5>
                  <p class="resume-lines__source animate-in-up">دوره توسط
                    <a href="#0" class="text-link-bold" target="_blank">آکادمی هنر نیویورک</a>
                  </p>
                </div>
                <div class="col-12 col-md-5">
                  <p class="small resume-lines__descr animate-in-up">دوره‌های نقاشی گرافیکی که اصول اساسی
                    نقاشی را ارائه می‌دهند.</p>
                </div>
              </div>
              <!-- education single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-2">
                  <span class="resume-lines__date animate-in-up">1398 - 1400</span>
                </div>
                <div class="col-12 col-md-5">
                  <h5 class="resume-lines__title animate-in-up">تخصص طراحی UI/UX</h5>
                  <p class="resume-lines__source animate-in-up">دوره توسط
                    <a href="#0" class="text-link-bold" target="_blank">موسسه هنر کالیفرنیا</a>
                  </p>
                </div>
                <div class="col-12 col-md-5">
                  <p class="small resume-lines__descr animate-in-up">تحقیق، طراحی و ساخت نمونه‌های کاربردی و
                    قدرتمند با ویژگی‌های بصری.</p>
                </div>
              </div>
              <!-- education single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-2">
                  <span class="resume-lines__date animate-in-up">1401</span>
                </div>
                <div class="col-12 col-md-5">
                  <h5 class="resume-lines__title animate-in-up">طراح UI/UX</h5>
                  <p class="resume-lines__source animate-in-up">دوره توسط
                    <a href="#0" class="text-link-bold" target="_blank">کورسرا</a>
                  </p>
                </div>
                <div class="col-12 col-md-5">
                  <p class="small resume-lines__descr animate-in-up">این دوره درباره کامل کردن فرآیند طراحی از
                    ابتدا تا انتها می‌باشد.</p>
                </div>
              </div>
            </div>
            <!-- Education Lines End -->

          </div>
          <!-- Content Block - Education End -->

          <!-- Content Block - Experience Start -->
          <div class="content__block block-large">

            <!-- H3 Block Start -->
            <div class="section-h3">
              <h3 class="h3__title animate-in-up">تجربه‌های کاری من</h3>
            </div>
            <!-- H3 Block End -->

            <!-- Experience Lines Start -->
            <div class="container-fluid p-0 resume-lines">
              <!-- experience single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-2">
                  <span class="resume-lines__date animate-in-up">1397 - 1398</span>
                </div>
                <div class="col-12 col-md-5">
                  <h5 class="resume-lines__title animate-in-up">نقاش</h5>
                  <p class="resume-lines__source animate-in-up">در
                    <a href="#0" class="text-link-bold" target="_blank">مغز خلاق</a>
                    آژانس
                  </p>
                </div>
                <div class="col-12 col-md-5">
                  <p class="small resume-lines__descr animate-in-up">تصاویر اصلی برای محصولات دیجیتال و چاپی
                    ایجاد کردم.</p>
                </div>
              </div>
              <!-- experience single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-2">
                  <span class="resume-lines__date animate-in-up">1398 - 1400</span>
                </div>
                <div class="col-12 col-md-5">
                  <h5 class="resume-lines__title animate-in-up">طراح گرافیکی</h5>
                  <p class="resume-lines__source animate-in-up">در
                    <a href="#0" class="text-link-bold" target="_blank">نورث وست دیجیتال</a>
                  </p>
                </div>
                <div class="col-12 col-md-5">
                  <p class="small resume-lines__descr animate-in-up">تحقیق، طراحی و ساخت نمونه‌های کاربردی و
                    قدرتمند با ویژگی‌های بصری.</p>
                </div>
              </div>
              <!-- experience single item -->
              <div class="row g-0 resume-lines__item animate-in-up">
                <div class="col-12 col-md-2">
                  <span class="resume-lines__date animate-in-up">1400 - 1401</span>
                </div>
                <div class="col-12 col-md-5">
                  <h5 class="resume-lines__title animate-in-up">طراح UI/UX</h5>
                  <p class="resume-lines__source animate-in-up">در
                    <a href="#0" class="text-link-bold" target="_blank">بالاخره اولین روز</a>
                  </p>
                </div>
                <div class="col-12 col-md-5">
                  <p class="small resume-lines__descr animate-in-up">این دوره درباره کامل کردن فرآیند طراحی از
                    ابتدا تا انتها می‌باشد.</p>
                </div>
              </div>
            </div>
            <!-- Experience Lines End -->

          </div>
          <!-- Content Block - Experience End -->

          <!-- Content Block - Tools List Start -->
          <div class="content__block grid-block block-large">
            <!-- H3 Block Start -->
            <div class="section-h3">
              <h3 class="h3__title animate-in-up">علاقه مندی ها</h3>
            </div>
            <!-- H3 Block End -->

            <!-- Tools List Start -->
            <div class="tools-cards d-flex justify-content-start flex-wrap">
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-photoshop.svg" %}"
                       alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">Photoshop</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-figma.svg" %}" alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">Figma</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-illustrator.svg" %}"
                       alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">Illustrator</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-sketch.svg" %}" alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">Sketch</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-blender.svg" %}" alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">Blender</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-html.svg" %}" alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">HTML5</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-css.svg" %}" alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">CSS3</h6>
                </div>
              </div>
              <!-- tools simgle item -->
              <div class="tools-cards__item d-flex grid-item-s animate-card-5">
                <div class="tools-cards__card">
                  <img class="tools-cards__icon animate-in-up" src="{% static "portfolio/img/icons/icon-notion.svg" %}" alt="Tools Icon">
                  <h6 class="tools-cards__caption animate-in-up">Notion</h6>
                </div>
              </div>
            </div>
            <!-- Tools List End -->
          </div>
          <!-- Content Block - Tools List End -->

        </section>
        <!-- Resume Section End -->




        <!-- Content Block - H2 Block Start -->
        <div class="content__block section-title">
          <p class="h2__subtitle animate-in-up">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 13 13"
                 fill="currentColor">
              <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
        C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
        C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
            </svg>
            <span>نظرات</span>
          </p>
          <h2 class="h2__title animate-in-up">نظر مشتریان درباره من</h2>
        </div>
        <!-- Content Block - H2 Block End -->

         <!-- Content Block - Testimonials Slider Start -->
         <div class="content__block">

          <!-- Testimonials Slider Start -->
          <div class="testimonials-slider">
              <!-- slider main container -->
              <div class="swiper-testimonials">
                  <!-- additional required wrapper -->
                  <div class="swiper-wrapper">
                      <!-- slides -->
                      <div class="swiper-slide">
                          <div class="testimonials-card animate-in-up">
                              <div class="testimonials-card__tauthor d-flex animate-in-up">
                                  <div class="tauthor__avatar">
                                      <img src="https://mixdesign.club/themeforest/braxton/img/avatars/400x400_t01.webp" alt="نویسنده نظر">
                                  </div>
                                  <div class="tauthor__info d-flex flex-column justify-content-center">
                                      <p class="tauthor__name">الکس تومیتو</p>
                                      <p class="tauthor__position">مدیر برند در
                                          <a href="#0" class="text-link-bold" target="_blank">طراحی آنی</a>
                                      </p>
                                      <div class="tauthor__rating d-flex">
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="testimonials-card__descr animate-in-up">
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                      گرافیک است.
                                      چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                      فعلی تکنولوژی
                                      مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                              </div>
                              <div class="testimonials-card__btnholder animate-in-up">
                                  <a class="btn mobile-vertical btn-line btn-transparent slide-right" href="#0">
                                      <i class="ph-bold ph-arrow-right"></i>
                                      <span class="btn-caption">صفحه پروژه</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="testimonials-card animate-in-up">
                              <div class="testimonials-card__tauthor d-flex animate-in-up">
                                  <div class="tauthor__avatar">
                                      <img src="https://mixdesign.club/themeforest/braxton/img/avatars/400x400_t01.webp" alt="نویسنده نظر">
                                  </div>
                                  <div class="tauthor__info d-flex flex-column justify-content-center">
                                      <p class="tauthor__name">جنی آناناس</p>
                                      <p class="tauthor__position">مدیر سئو در
                                          <a href="#0" class="text-link-bold" target="_blank">افراد خلاق</a>
                                      </p>
                                      <div class="tauthor__rating d-flex">
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                          <i class="ph-fill ph-star"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="testimonials-card__descr animate-in-up">
                                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                      گرافیک است.
                                      چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                      فعلی تکنولوژی
                                      مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                  </div>
                                  <div class="testimonials-card__btnholder animate-in-up">
                                      <a class="btn mobile-vertical btn-line btn-transparent slide-right" href="#0">
                                      <i class="ph-bold ph-arrow-right"></i>
                                      <span class="btn-caption">صفحه پروژه</span>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- navigation buttons -->
                  <div>
                      <div class="swiper-button-prev mxd-slider-btn-square mxd-slider-btn-square-prev animate-in-up">
                          <a class="btn btn-square btn-square-s btn-outline slide-left" href="#0">
                              <i class="ph-bold ph-caret-left"></i>
                          </a>
                      </div>
                      <div class="swiper-button-next mxd-slider-btn-square mxd-slider-btn-square-next animate-in-up">
                          <a class="btn btn-square btn-square-s btn-outline slide-right" href="#0">
                              <i class="ph-bold ph-caret-right"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Testimonials Slider End -->

      </div>
      <!-- Content Block - Testimonials Slider End -->

        <!-- Contact Section Start -->
        <!-- Contact Section Start -->
        <section id="contact" class="inner contact">

          <!-- Content Block - H2 Section Title Start -->
          <div class="content__block section-title">
            <p class="h2__subtitle animate-in-up">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px"
                   viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
          C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
          C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
              </svg>
              <span>تماس</span>
            </p>
            <h2 class="h2__title animate-in-up">بیایید با هم یک کار فوق‌العاده انجام دهیم!</h2>
          </div>
          <!-- Content Block - H2 Section Title End -->

          <!-- Content Block - Contact Form Start -->
          <div class="content__block grid-block block-grid-large">
            <div class="form-container">

              <!-- Reply Messages Start -->
              <div class="form__reply centered text-center">
                <i class="ph-bold ph-smiley reply__icon"></i>
                <p class="reply__title">انجام شد!</p>
                <span class="reply__text">بابت پیامتان سپاسگزارم. در اسرع وقت به شما پاسخ خواهم داد.</span>
              </div>
              <!-- Reply Messages End -->

              <!-- Contact Form Start -->
              <form class="form contact-form" id="contact-form">
                <!-- Hidden Required Fields -->
                <input type="hidden" name="project_name" value="Starter Template">
                <input type="hidden" name="admin_email" value="support@mixdesign.club">
                <input type="hidden" name="form_subject" value="پیام فرم تماس">
                <!-- END Hidden Required Fields-->
                <div class="container-fluid p-0">
                  <div class="row gx-0">
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="text" name="Name" placeholder="نام شما*" required>
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="text" name="Company" placeholder="نام شرکت">
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="email" name="E-mail" placeholder="ایمیل*" required>
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="tel" name="Phone" placeholder="شماره تلفن*" required>
                    </div>
                    <div class="col-12 form__item animate-in-up">
                      <textarea name="Message" placeholder="چند کلمه از شما*" required></textarea>
                    </div>
                    <div class="col-12 form__item animate-in-up">
                      <button class="btn btn-default btn-hover btn-hover-accent" type="submit">
                        <span class="btn-caption">ارسال پیام</span>
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Contact Form End -->

            </div>
          </div>
          <!-- Content Block - Contact Form End -->

          <!-- Content Block - Socials Cards Start -->
          <div class="content__block grid-block">
            <div class="socials-cards d-flex justify-content-start flex-wrap">
              <!-- socials item -->
              <div class="socials-cards__item d-flex grid-item-s animate-card-5">
                <div class="socials-cards__card">
                  <i class="ph-bold ph-dribbble-logo"></i>
                  <a class="socials-cards__link" href="https://dribbble.com/" target="_blank"></a>
                </div>
              </div>
              <!-- socials item -->
              <div class="socials-cards__item d-flex grid-item-s animate-card-5">
                <div class="socials-cards__card">
                  <i class="ph-bold ph-behance-logo"></i>
                  <a class="socials-cards__link" href="https://www.behance.net/" target="_blank"></a>
                </div>
              </div>
              <!-- socials item -->
              <div class="socials-cards__item d-flex grid-item-s animate-card-5">
                <div class="socials-cards__card">
                  <i class="ph-bold ph-instagram-logo"></i>
                  <a class="socials-cards__link" href="https://www.instagram.com/" target="_blank"></a>
                </div>
              </div>
              <!-- socials item -->
              <div class="socials-cards__item d-flex grid-item-s animate-card-5">
                <div class="socials-cards__card">
                  <i class="ph-bold ph-twitch-logo"></i>
                  <a class="socials-cards__link" href="https://www.twitch.tv/" target="_blank"></a>
                </div>
              </div>
              <!-- socials item -->
              <div class="socials-cards__item d-flex grid-item-s animate-card-5">
                <div class="socials-cards__card">
                  <i class="ph-bold ph-pinterest-logo"></i>
                  <a class="socials-cards__link" href="https://www.pinterest.com/" target="_blank"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Block - Socials Cards End -->

          <!-- Content Block - Teaser Start -->
          <div class="content__block">
            <div class="teaser">
              <p class="teaser__text animate-in-up">برای آشنایی بیشتر با من، راجع به پروژه‌تان بگویید یا فقط برای
                گفتن سلام؟
                <a class="text-link-bold"
                   href="mailto:example@example.com?subject=Message%20from%20your%20site">به من یک خط بدهید</a>
                و من در اسرع وقت به شما پاسخ خواهم داد.
              </p>
            </div>
          </div>
          <!-- Content Block - Teaser End -->

          <!-- Content Block - Contact Data Start -->
          <div class="content__block">
            <div class="container-fluid p-0 contact-lines animate-in-up">
              <div class="row g-0 contact-lines__item">
                <!-- data item -->
                <div class="col-12 col-md-4 contact-lines__data">
                  <p class="contact-lines__title animate-in-up">موقعیت</p>
                  <p class="contact-lines__text animate-in-up">
                    <a class="text-link-bold" href="https://maps.app.goo.gl/xMJXTEUeHkv6kYRQ6"
                       target="_blank">اهواز، خوزستان</a>
                  </p>
                </div>
                <!-- data item -->
                <div class="col-12 col-md-4 contact-lines__data">
                  <p class="contact-lines__title animate-in-up">تلفن</p>
                  <p class="contact-lines__text animate-in-up">
                    <a class="text-link-bold" href="tel:09160253022">09160253022</a>
                  </p>
                </div>
                <!-- data item -->
                <div class="col-12 col-md-4 contact-lines__data">
                  <p class="contact-lines__title animate-in-up">ایمیل</p>
                  <p class="contact-lines__text animate-in-up">
                    <a class="text-link-bold"
                       href="mailto:example@example.com?subject=Message%20from%20your%20site">pouriashiralipour@gmail.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Block - Contact Data End -->

        </section>
        <!-- Contact Section End -->

      </div>
    </div>
    <!-- Page Content End -->

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

          <div class="pswp__top-bar">

            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close link-s" title="Close (Esc)"></button>

            <button class="pswp__button pswp__button--share link-s" title="Share"></button>

            <button class="pswp__button pswp__button--fs link-s" title="Toggle fullscreen"></button>

            <button class="pswp__button pswp__button--zoom link-s" title="Zoom in/out"></button>

            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader-active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left link-s" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right link-s" title="Next (arrow right)"></button>

            <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
            </div>

        </div>

      </div>

    </div>

    <!-- Load Scripts Start -->
    <script src="{% static "portfolio/js/libs.min.js" %}"></script>
    <script src="{% static "portfolio/js/app.js" %}"></script>
    <script src="{% static "portfolio/js/gallery-init.js" %}"></script>
    <!-- Load Scripts End -->
    
  </body>

</html>