{% load static %}


<script src="{% static "rastakala/assets/js/jquery.min.js" %}"></script>
<script src="{% static "rastakala/assets/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "rastakala/assets/plugin/waves/waves.min.js" %}"></script>
<script src="{% static "rastakala/assets/plugin/swiper/swiper-bundle.min.js" %}"></script>
<script src="{% static "rastakala/assets/plugin/timer/timer.js" %}"></script>
<script src="{% static "rastakala/assets/plugin/hint-css/hint-css.js" %}"></script>
<script src="{% static "rastakala/assets/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js" %}"></script>
<script src="{% static "rastakala/assets/js/app.js" %}"></script>
<script src="{% static "rastakala/assets/js/jquery-app.js" %}"></script>

<!-- ===== start new update 3.2.0 -->
<script src="{% static "rastakala/assets/plugin/go-to-top/script.js" %}"></script>
<script src="{% static "rastakala/assets/plugin/rasta-contact/script.js" %}"></script>



<script>
    //// config floating contact
    $('#btncollapzion').Collapzion({
        _child_attribute: [{
                'label': 'پشتیبانی تلفنی',
                'url': 'tel:0930555555555',
                'icon': 'bi bi-telephone'
            },
            {
                'label': 'پشتیبانی تلگرام',
                'url': 'https://tlgrm.me',
                'icon': 'bi bi-telegram'
            },
            {
                'label': 'پشتیبانی واتس آپ',
                'url': 'https://wa.me/444444444',
                'icon': 'bi-whatsapp'
            },

        ],
    });
</script>
<!-- ===== end new update -->