{% load static %}
<link rel="stylesheet" href="{% static "rastakala/assets/css/bootstrap.rtl.min.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/font/bootstrap-icon/bootstrap-icons.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/waves/waves.min.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/swiper/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/timer/timer.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/hint-css/hint-css.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/go-to-top/style.css" %}">
    <link rel="stylesheet" href="{% static "rastakala/assets/plugin/rasta-contact/style.css" %}">